<!--
th:text -> 태그 안에 데이터를 출력
th:each -> 반복문
th:each -> "${number:#number(시작번호, 끝번호)}"
        -> 시작번호에서 끝번호까지 반복
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<!--받아온 데이터들을 일일히 출력해줘야하는데, 이는 타임리프를 이용해서 구현해야한다. -->
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>
<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
<!--                    each는 반복문이다. list에서 board가 없어질 때까지 반복한다. -->
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>

        </form>
    </div>
</body>
</html>